
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
   
}
.background{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;

}
.background::before {
        content: '';
        background-image: url('content/transportation-threats-2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.35;
       
    }
h1 {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    position: relative;
}
    