
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 gray-bg ratio-2-1">
            <a class="btn btn-outline-primary w-100" href="~/trips/">Trips</a>
        </div>
        <div class="col-md-4 gray-bg ratio-2-1">
            <a class="btn btn-outline-primary w-100" href="~/vehicles/">Vehicles</a>
        </div>
        <div class="col-md-4 gray-bg ratio-2-1">
            <a class="btn btn-outline-primary w-100" href="~/operators/">Operators</a>
        </div>
        <div class="col-md-4 gray-bg ratio-2-1">
            <a class="btn btn-outline-primary w-100" href="~/departments/">Departments</a>
        </div>
        <div class="col-md-4 gray-bg ratio-2-1">
            <a class="btn btn-outline-primary w-100" href="~/destinations/">Destinations</a>
        </div>
        <div class="col-md-4 gray-bg ratio-2-1">
            <a class="btn btn-outline-primary w-100" href="~/reasons/">Reasons</a>
        </div>
    </div>
</div>

